$petrolish: #388b91db;
$petrolish2: #3a8185f7;
$blackish: rgb(41, 41, 41);
$blackish2: rgba(41, 41, 41, 0.406);
$coralish: rgb(250, 115, 66);
$coralish2: rgb(254, 134, 91);
$greenish: rgb(58, 165, 62);
$whiteish: rgb(255, 255, 255);
